
.audio-player
  %h2= @track.title
  %audio#audio-player{:autoplay => true , :controls => "controls", :src => "#{@track.source_url}", :type => "audio/mp3"}
    / @end .audio-player
  / @end #content
/ @end #w
:javascript
  $(function(){
    $('#audio-player').mediaelementplayer({
      alwaysShowControls: true,
      features: ['playpause','progress','volume'],
      audioVolume: 'horizontal',
      audioWidth: 1000,
      audioHeight: 70,
      enableAutosize: true,
      iPadUseNativeControls: true,
      iPhoneUseNativeControls: true,
      AndroidUseNativeControls: true
    });
  });