
.container 
  .row
    .col-md-12
      %audio#audio-player{:autoplay => "autoplay",:controls => "controls"}
                 
        - @tracks.each do |post|          
          %source{:src =>  "#{post.song.source_url}", :title => "#{post.song.title}", :type => "audio/mpeg"}
      / %p.pull-right= post.song.title
    
      

:javascript
  $(function(){
    $('#audio-player').mediaelementplayer({
      alwaysShowControls: true,
      features: ['playpause','progress','volume','playlist'],
      audioVolume: 'horizontal',
      audioWidth: 1000,
      audioHeight: 70,
      iPadUseNativeControls: true,
      iPhoneUseNativeControls: true,
      AndroidUseNativeControls: true
    });
  });