
.container 
  .row
    .col-md-12
      %audio#audio-player{:autoplay => "autoplay",:controls => "controls"}
                 
        - @tracks.each do |post|          
          %source{:src =>  "#{post.song.source_url}", :title => "#{post.song.title}", :type => "audio/mpeg"}
      / %p.pull-right= post.song.title
    
      

:javascript
  $(function(){
    $('audio,video').mediaelementplayer({
        loop: true,
        shuffle: true,
        playlist: true,
        audioHeight: 30,
        playlistposition: 'top',
        features: ['playlistfeature', 'prevtrack', 'playpause', 'nexttrack', 'loop', 'shuffle', 'playlist', 'current', 'progress', 'duration', 'volume'],
         iPadUseNativeControls: true,
        iPhoneUseNativeControls: true,
        AndroidUseNativeControls: true
    });
  });    