#wrapper
  .overlay
  / Sidebar
  %nav#sidebar-wrapper.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
    %ul.nav.sidebar-nav
      %li.sidebar-brand
        %a{:href => "/"}
          Korujams
      %li
        %a{:href => "/"} Home
      %li
        = render 'layouts/navigation_links'     
      %li
        %a{:href => "https://twitter.com/maridlcrmn"} Follow me

  / /#sidebar-wrapper
  / Page Content
  #page-content-wrapper
    %button.hamburger.is-closed{"data-toggle" => "offcanvas", :type => "button"}
      %span.hamb-top
      %span.hamb-middle
      %span.hamb-bottom
    = render 'layouts/new_redesign'
    #product-modal.modal.fade
    #edit-modal.modal.fade

 
    / .container
    /   .row
    /     .col-lg-8.col-lg-offset-2
    /       = yield
          
    /     = render 'layouts/footer_nav_bar'  

:javascript

  $(document).ready(function () {
    var trigger = $('.hamburger'),
        overlay = $('.overlay'),
       isClosed = false;

      trigger.click(function () {
        hamburger_cross();      
      });

      function hamburger_cross() {

        if (isClosed == true) {          
          overlay.hide();
          trigger.removeClass('is-open');
          trigger.addClass('is-closed');
          isClosed = false;
        } else {   
          overlay.show();
          trigger.removeClass('is-closed');
          trigger.addClass('is-open');
          isClosed = true;
        }
    }
    
    $('[data-toggle="offcanvas"]').click(function () {
          $('#wrapper').toggleClass('toggled');
    }); 

    
  });