.col-sm-2.well
  .thumbnail
    %p Upcoming Events:
    %img{:alt => "Paris", :height => "300", :src => "paris.jpg", :width => "400"}/
    %p
      %strong Paris
    %p Fri. 27 November 2015
    %button.btn.btn-primary Info
  .well
    %p ADS
  .well
    %p ADS